@charset "UTF-8";
body{
  background-color: #FEF8FA;
}
.main {
  position: relative;
  width: 60px;
  margin: 300px auto;
}
.main .toggle-bg {
  display: block;
  background: gray;
  height: 20px;
  width: 60px;
  border-radius: 10px;
  cursor: pointer;
}
.main .toggle {
  opacity: 0;
  border: 0;
  outline: none;
  height: 100%;
  width: 100%;
  background: transparent;
  position: absolute;
  cursor: pointer;
  z-index: 100;
}
.main .toggle ~ .emoji:before {
  position: absolute;
  left: -10%;
  top: -20px;
  font-size: 40px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.main .toggle:checked ~ .emoji:before {
  left: 90%;
  margin-left: -1em;
}
.main .toggle ~ label {
  white-space: nowrap;
}
.main .toggle ~ label:before {
  position: absolute;
  right: 100%;
  margin-right:5px;
  top: 0;
}
.main .toggle ~ label:after {
  position: absolute;
  left: 100%;
  margin-left: 5px;
  top: 0;
}

.main .toggle ~ .emoji:before {
  content: "😄";
}
.main .toggle:checked ~ .emoji:before {
  content: "😡";
}
.main .toggle ~ label:before {
  content: "Happy";
}
.main .toggle ~ label:after {
  content: "Mad";
}
